/* Template Literal */
:root {
    --background-color: #F0EBCE;
    --dark-brown: #AA8B56;
    --light-green: #4E6C50;
    --dark-green: #395144;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 15px 1px black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

h1, h3, p, label, option {
    color: var(--dark-green);
    font-family: 'Noto Sans Display', sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1em 0em;
    margin-bottom: -2em;
    font-family: 'Playball', cursive;
    font-weight: 900;
}

.imgAndSelectionDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    height: 90%;
    width: 80%;
    max-width: 40em;
    position: relative;
}

.imgDiv {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    max-width: 25em;
    max-height: 22em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    align-items: center;
    padding: 1.5em;
    overflow: hidden;
}

.imgDiv img {
    height: 16em; 
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px black;
}

.SelectionAndScore {
    height: 100%;
    width: 100%;
    padding: 0em 2em;
    padding-top: 2em;
}

.Score {
    display: flex;
    padding-top: 0.2em;
    padding-bottom: 1.2em;
}

.Score p {
    margin: 0;
    font-size: 1.2em;
}

.Selection {
    margin-top: 0.5em;
}

.dogSelection {
    min-width: 10em;
    max-height: 80%;
}

.progressbar {
    display: grid;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    content : '';
    height: 5px;
    background-color: var(--dark-green);
    border-radius: 15px;
    margin-bottom: -8em;
    margin-left: 1em;
}

.progressbarlabels {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.progressbarlabels p {
    border-left: solid 1px var(--dark-green);
    padding-left: 0.2em;
}

button {
    max-height: 3em;
    background-color: var(--dark-brown);
    border: white 2px solid;
    border-radius: 10px;
    min-width: 15em;
    box-shadow: 0px 0px 15px 0px black;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bolder;
}

button:active {
    box-shadow: 0px 0px 15px -2px black;
}

.endGameDiv {
    margin: 0 auto;
    text-align: center;
}

.EndScore {
    margin-bottom: 2em;
}

.EndHeader {
    font-family: 'Playball', cursive;
    font-weight: 900;
}

.playAgainButton {
    max-height: 3em;
    background-color: var(--dark-brown);
    border: white 2px solid;
    border-radius: 10px;
    min-width: 15em;
    box-shadow: 0px 0px 15px 0px black;
}

.playAgainButton:active {
    box-shadow: 0px 0px 15px -2px black;
}

